---
import { ProductsList } from '@/components/products/ProductsList';
import Pagination from '@/components/shared/Pagination.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';

const searhParams = Astro.url.searchParams;
const pageParam = Number(searhParams.get('page')?? 1)
const {data, error}  = await Astro.callAction(actions.getProductsByPage,{
  page: pageParam,
})
if(error){
  return Astro.redirect('/');
}

const {products, totalPages} = data;
if (data.products.length === 0) {
  return Astro.redirect(`/?page=${totalPages}`)
}
---

<MainLayout>
  <h1 class="text-3xl">Listado de productos</h1>
  <ProductsList products={products} client:idle />
  <Pagination totalPages={totalPages} />
</MainLayout>
